<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="">
          <img src="images/AFL_logo.png" alt="AFL_logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                <a class="nav-link" href="index.html">Home</a>
                </li>

                <li class="nav-item active">
                <a class="nav-link" routerLink="/Results" href="/Results">Results</a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" routerLink="/Matches" href="/Matches">Matches</a>        
                </li>
                <li class="nav-item active">
                <a class="nav-link" routerLink="/MyTeam" href="/MyTeam">My Team</a>      
                </li>
                <li class="nav-item active">
                <a class="nav-link" routerLink="/Rivals" href="/Rivals">Rivals</a>       
                </li>
            </ul>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>


<!-- <app-view-league-table></app-view-league-table> --> 